@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: #ebe2e2;
  color: #222423;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* PROFILE PAGE CSS */
.profile-card {
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.primary-btn {
  border: 1.2px solid #a7c638;
  padding: 10px 30px;
  display: inline-flex;
  align-items: center;
  gap: 10.3px;
  font-size: 16px;
  text-align: center;
  background: #a7c638 !important;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.primary-btn.red {
  border: 1.2px solid #ff0b0b;
  background: #ff0b0b !important;
}

.primary-btn.red::before {
  background: #e20b0b;
}

.primary-btn.red:hover {
  border: 1.2px solid #e20b0b;
}

.primary-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: -30%;
  top: 0;
  transition: all 0.5s ease-in-out;
  transform: skewX(40deg);
  background: #8ba52e;
  z-index: -1;
}

.primary-btn:hover {
  color: #fff;
}

.primary-btn:hover::before {
  transition: all 0.5s ease-in-out;
  left: -15%;
  width: 140%;
}

.md\:text-blue-700 {
  color: #ff0b0b;
}

.md\:hover\:text-blue-700:hover {
  color: #ff0b0b;
}

[multiple]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus {

  border-color: #ff0b0b;

}

.focus\:ring-blue-500:focus {
  --tw-ring-color: #ff0b0b;
}

.focus\:border-blue-500:focus {
  border-color: #ff0b0b;
}

.width-20 {
  width: 30%;
}

.space-y-2>:not([hidden])~:not([hidden]) {

  margin-top: calc(2rem*(1 - var(--tw-space-y-reverse)));
}

.card-curve {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ml-100 {
  margin-left: 0rem;
}

.workout-grid {
  padding: 40px;
  padding-top: 55px;
  display: grid;
  align-items: flex-start;
  gap: 40px;
  grid-template-columns: 1.3fr 1fr;
}

.video-card {
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-40p {
  width: 40%;
}

.mar-100 {
  margin: 100px;
}

.mob-nav-link {
  display: none;
}

.back-wraps {
  position: absolute;
  top: 32px;
  left: 32px;
}

.back-wraps .back-to {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  color: #e20b0b;
}

.back-wraps .back-to i {
  color: #e20b0b;
  font-size: 20px;
}

.work-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.work-btn-wrapper i {
  background: #FFF;
  padding: 12px 12px;
  border-radius: 5px;
  color: #e20b0b;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.work-btn-wrapper .work-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  word-break: break-all;
}

@media (max-width:1024px) {
  .flexing-mob {
    display: flex;
    flex-direction: column;
    gap: 8px;

  }

  .pb-120p {
    padding-bottom: 120px;
  }

  .mb-m-150 {
    margin-bottom: 150px;
  }

  .mb-150 {
    margin-bottom: 150px;
  }

  .mb-none {
    display: none;
  }

  .mob-nav-link {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 32px;
    z-index: 999;
  }

  .mob-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mob-nav-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 20px;
  }

  .mob-nav-list li a i {
    font-size: 30px;
    color: #ff4242;
  }

  .pd-0 {
    padding: 0px;
  }

  .w-40p {
    width: 100%;
  }

  .width-20 {
    width: 60%;
  }

  .video-card {
    grid-area: 1;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
  }

  .workout-grid {
    padding: 25px;
    padding-top: 35px;
    align-items: flex-start;
    gap: 40px;
    grid-template-columns: 1fr;
  }

  .card-curve {
    border-radius: 8px;
  }

  select {
    width: 100%;
  }

  .space-y-8>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(2rem* var(--tw-space-y-reverse));
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)));
  }

  .mar-100 {
    margin: 40px;
    margin-bottom: 120px;
  }

  .work-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .rec-video {
    grid-area: 1;
  }

  .work-grid .video-card {
    grid-area: 2;
  }

  .work-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
  }

  h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .ml-100 {
    margin-left: 0;
  }
}

@media (max-width:640px) {
  .flex-c {
    display: flex;
    flex-direction: column;
  }

  .smb-24 {
    margin-bottom: 7rem;
  }

  h2 {
    font-size: 25px;
    font-weight: 500;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .mar-100 {
    margin: 25px;
    margin-top: 80px;
    margin-bottom: 120px;
  }

  .mob-nav-link {
    padding: 12px 28px;
  }

  .mob-nav-list {
    justify-content: space-between;
  }

  .mob-nav-list li a {

    gap: 7px;
    font-size: 16px;
  }

  .mob-nav-list li a i {
    font-size: 20px;
  }

  .width-20 {
    width: 80%;
  }

  .ml-100 {
    margin-left: 0;
  }
}