<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>Index</title>
</head>
<body>
    <script>
        const token = localStorage.getItem('token');
        if (!token) {
            window.location.href = '/auth/login';
        } else {
            window.location.href = '/dashboard';
        }
    </script>
</body>
</html>
