<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Workout</title>
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <link href="../static/css/tailwind.css" rel="stylesheet" />
    <link href="../static/css/toasts.css" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />

    <script src="../static/js/toasts.js" type="text/javascript"></script>
    <script src="../static/js/lib.js" type="text/javascript"></script>
  </head>

  <body>
    <!-- EDIT WORKOUT PAGE START HRERE -->
    <section class="edit-workout-page">
      <div>
        <div class="container">
          <div class="top-part-wrap">
            <div class="back-btn">
              <img src="../static/images/angle-left.svg" alt="angle-arrow" />
              <h3>Назад</h3>
            </div>
            <div class="logo-wrap">
              <img src="../static/images/purple-logo.svg" alt="logo" />
            </div>
          </div>
          <div class="flex-column gap-45 mt-60">
            <div class="edit-box">
              <h5>Название тенировки</h5>
              <div class="text-edit-wrap">
                <div class="edit-wrapper">
                  <input type="text" />
                  <div class="edit-pen">
                    <img src="../static/images/edit-pen.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="edit-box">
              <h5>Список упражнений</h5>
              <div class="text-edit-wrap">
                <div class="list-exercise">
                  <img src="../static/images/plus.svg" alt="" />
                  <h4>Упражнение</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="save-wrorkout-wrap">
        <div class="container">
          <div class="save-wrapper">
            <button class="btn">Сохранить тренировку</button>
            <div class="plus-wrap">
              <img src="../static/images/plus.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ADD WORKOUT PAGE END HRERE -->
  </body>
</html>
