<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link
      rel="shortcut icon"
      href="../static/favicon.ico"
      type="image/x-icon"
    />
    <script src="../static/js/lib.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/css/tailwind.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.0.2/luxon.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
    />
  </head>

  <body>
    <!-- DASHBOARD PAGE START HERE -->
    <section class="dashboard-page">
      <div class="container">
        <div class="site-logo">
          <img src="../static/assets/images/purple-logo.svg" alt="logo" />
        </div>
        <div class="profile-wraps">
          <div class="profile-name-wraps">
            <div class="profile-img">
              <a href="/profile">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST8AtmjZZlbJfH2Xqps-lRFOQuTysOO4n7FTlNtyVuzA&s"
                  alt="profile-pic"
                  class="img-responsive"
                  id="profile-pic"
                />
              </a>
            </div>
            <span id="name">...</span>
          </div>
          <div class="calendar-wraps">
            <img src="../static/assets/images/calendar.svg" alt="" />
          </div>
        </div>
        <div class="day-wraps">
          <ul id="week-container">
            <!-- Days of week will be here -->
          </ul>
        </div>

        <canvas id="workout-chart" class="p-1 mb-5 mb-m-150"></canvas>

        <div class="slogon-wraps">
          <span>Каждая тренировка – шаг к лучшей версии себя</span>
        </div>
        <div class="workout-wrapper">
          <div class="workout-name">
            <h6>Планка</h6>
            <div class="workout-btn">Тренировка № 1</div>
          </div>
          <div class="btn-wrap">
            <button class="btn">Начать тренировку</button>
          </div>
        </div>
        <div class="wrokouts-flexed" id="workouts">
          <!-- Workouts will be shown here  -->
        </div>
        <div class="three-btn-wraps">
          <a href="">
            <button class="btn">Выбрать другой уровень тренировки</button>
          </a>
          <a href="/workouts/new">
            <button class="btn">Создать свою тренировку</button>
          </a>
          <a href="/workouts">
            <button class="btn">Мои тренировки</button>
          </a>
        </div>
      </div>
    </section>
    <!-- DASHBOARD PAGE END HERE -->

    <section id="toasts">
      <div
        id="toast-success"
        class="fixed top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 z-20"
        role="alert"
        style="display: none"
      >
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            />
          </svg>
          <span class="sr-only">Значок проверки</span>
        </div>
        <div class="ms-3 text-sm font-normal" id="toast-success-text">
          Вход в систему выполнен успешно.
        </div>
        <button
          type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-success"
          aria-label="Close"
          onclick="closeToast('toast-success')"
        >
          <span class="sr-only">Закрывать</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
      <div
        id="toast-danger"
        class="fixed top-5 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 z-20"
        role="alert"
        style="display: none"
      >
        <div
          class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"
            />
          </svg>
          <span class="sr-only">Значок ошибки</span>
        </div>
        <div class="ms-3 text-sm font-normal" id="toast-danger-text">
          Неверное имя пользователя и пароль
        </div>
        <button
          type="button"
          class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
          data-dismiss-target="#toast-danger"
          aria-label="Close"
          onclick="closeToast('toast-danger')"
        >
          <span class="sr-only">Закрывать</span>
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
        </button>
      </div>
    </section>

    <script>
      (async () => {
        await authFlow(null, "/login");

        let accessToken = localStorage.getItem("access_token");
        let { res, data } = await getUser(accessToken);
        if (res.status === 401) {
          window.location.href = "/login";
        }

        if (data.username === "" || data.height === 0 || data.weight === 0) {
          document.getElementById("toast-danger").style.display = "";
          document.getElementById("toast-danger-text").innerText =
            "Пожалуйста, заполните всю вашу информацию на странице профиля!";
        }

        if (data.profile_picture_url !== "") {
          document.getElementById(
            "profile-pic"
          ).src = `../../static/uploads/${data.profile_picture_url}`;
        }

        document.getElementById("name").innerText = data.username;
      })();
    </script>

    <script>
      // let workouts;
      // let workout;

      // (async () => {
      //   let accessToken = localStorage.getItem("access_token");

      //   let { res, data } = await getUserWorkouts(accessToken);
      //   if (res.status === 401) {
      //     window.location.href = "/login";
      //   }
      //   workouts = data.workouts;

      //   const workoutTag = document.getElementById("workouts");
      //   data.workouts.forEach((workout) => {
      //     const li = document.createElement("li");
      //     li.innerHTML = `
      //     <button
      //       onclick="chooseWorkout(${workout.id})"
      //       class="flex flex-col item-center content-center content-fit flex-flow w-full p-6 bg-grad border border-gray-200 rounded-lg shadow transition-all	 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 transition-all	"
      //     >
      //     <div class="work-btn-wrapper">
      //       <i class="fa-solid fa-dumbbell"></i>
      //     <div class="work-content">
      //       <h4
      //         class="mb-2 text-2xl font-sm tracking-tight text-gray-900 dark:text-white text-gray-900	"
      //       >
      //         ${workout.name}
      //       </h4>
      //       <p class="text-l text-gray-700 dark:text-gray-400">${String(
      //         workout.description
      //       ).substring(0, 40)}...</p>
      // </div>
      // </div>
      //     </button>
      //   `;
      //     workoutTag.appendChild(li);
      //   });

      //   if (workouts.length > 0) {
      //     workout = changeWorkout(workouts[0]);
      //   } else {
      //     document.getElementById("workout-data").innerHTML = `
      //   <div class="flex flex-col items-center justify-center h-screen">
      //     <h1 class="text-3xl font-semibold text-gray-900 dark:text-white">Нет тренировок</h1>
      //     <a href="/workouts/new" class="mt-4 primary-btn">Добавить тренировку</a>
      //   </div>
      // `;
      //   }
      // })();

      // function changeWorkout(workout) {
      //   const range = document.getElementById("timeRange");

      //   document.getElementById("workout-name").innerText = workout.name;
      //   document.getElementById("workout-description").innerText =
      //     workout.exercise.description;

      //   document
      //     .getElementById("workout-url")
      //     .setAttribute("href", `/workouts/start/${workout.id}`);

      //   document.getElementById("workout-video").innerHTML = `
      // <video
      //   src="../static/videos/${workout.exercise.video_link}"
      //   alt="exercise video"
      //   playsinline
      //   autoplay
      //   controls
      //   muted
      //   loop class="object-cover"
      // /> </video>
      // `;

      //   clearCanvas();
      //   const ctx = document.getElementById("workout-chart").getContext("2d");

      //   const allLabels = workout.sessions.map(
      //     (entry) =>
      //       `${formatDateTime(entry.start_time)} - ${formatDateTime(
      //         entry.end_time
      //       )}`
      //   );

      //   let labelWidth = 5;
      //   if (window.innerWidth > 768) {
      //     labelWidth = 20;
      //   } else {
      //     labelWidth = 5;
      //   }

      //   const labels = allLabels.slice(0, labelWidth);
      //   const data = workout.sessions
      //     .map((entry) => entry.repetitions)
      //     .slice(0, labelWidth);

      //   const chart = new Chart(ctx, {
      //     type: "line",
      //     data: {
      //       labels: labels,
      //       datasets: [
      //         {
      //           label: "Повторения",
      //           data: data,
      //           pointRadius: data.map((entry) => (entry === 0 ? 0 : 3)),
      //           fill: false,
      //           backgroundColor: "rgba(75, 192, 192, 0.2)",
      //           borderColor: "rgba(75, 192, 192, 1)",
      //           borderWidth: 1,
      //         },
      //       ],
      //     },
      //     options: {
      //       responsive: true,
      //       plugins: {
      //         legend: {
      //           position: "top",
      //         },
      //         title: {
      //           display: true,
      //           text: "Дата / Повторы",
      //         },
      //       },
      //       scales: {
      //         y: {
      //           beginAtZero: true,
      //           title: {
      //             display: true,
      //             text: "Повторения",
      //           },
      //         },
      //         x: {
      //           title: {
      //             display: true,
      //             text: "Время тренировки",
      //           },
      //         },
      //       },
      //     },
      //   });

      //   document.getElementById(
      //     "workout-total-time"
      //   ).innerHTML = `${workout.total_time} sec`;
      //   document.getElementById(
      //     "workout-rest-time"
      //   ).innerHTML = `${workout.rest_time} sec`;
      //   document.getElementById("workout-description-text").innerText =
      //     workout.description;

      //   range.innerHTML = "";

      //   for (let i = 0; i < allLabels.length; i += labelWidth) {
      //     const option = document.createElement("option");
      //     option.value = i;
      //     option.text = `До ${allLabels[i]}`;
      //     range.appendChild(option);
      //   }

      //   function updateTimeRange(selectedTimeRange) {
      //     chart.data.datasets[0].data = workout.sessions
      //       .map((entry) => entry.repetitions)
      //       .slice(selectedTimeRange, selectedTimeRange + labelWidth);

      //     chart.data.labels = workout.sessions
      //       .map(
      //         (entry) =>
      //           `${formatDateTime(entry.start_time)} - ${formatDateTime(
      //             entry.end_time
      //           )}`
      //       )
      //       .slice(selectedTimeRange, selectedTimeRange + labelWidth);

      //     chart.update();
      //   }

      //   document
      //     .getElementById("timeRange")
      //     .addEventListener("change", function (event) {
      //       const selectedTimeRange = event.target.value;
      //       updateTimeRange(parseInt(selectedTimeRange));
      //     });
      // }

      // function chooseWorkout(id) {
      //   workout = workouts.find((workout) => workout.id === id);
      //   changeWorkout(workout);
      // }

      // function clearCanvas() {
      //   const existingChart = Chart.getChart("workout-chart");
      //   if (existingChart) {
      //     existingChart.destroy();
      //   }

      //   const canvas = document.getElementById("workout-chart");
      //   const ctx = canvas.getContext("2d");
      //   ctx.clearRect(0, 0, canvas.width, canvas.height);
      // }

      // function formatDateTime(dateTimeStr) {
      //   const dateTime = luxon.DateTime.fromISO(dateTimeStr);
      //   return dateTime.toFormat("h':'mm a");
      // }

      // document.getElementById("logout").addEventListener("click", () => {
      //   localStorage.removeItem("access_token");
      //   localStorage.removeItem("refresh_token");
      //   window.location.href = "/login";
      // });

      function closeToast(id) {
        document.getElementById(id).style.display = "none";
      }
    </script>

    <script src="../static/js/dashboard.js"></script>
  </body>
</html>
