<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Профиль | Фитнес-трекер</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/lib.js') }}"></script>
    <script src="{{ url_for('static', path='/js/store.js') }}"></script>
  </head>
  <body>
    <script>
      (async () => {
        let accessToken = localStorage.getItem("access_token");
        let refreshToken = localStorage.getItem("refresh_token");
        if (accessToken && refreshToken) {
          let isValid = await verifyJwtToken(accessToken);
          console.log(`Access token is: ${isValid ? "valid" : "invalid"}`);

          if (!isValid) {
            let { access_token, refresh_token } = await refreshJwtToken(
              refreshToken
            );

            if (access_token && refresh_token) {
              localStorage.setItem("access_token", access_token);
              localStorage.setItem("refresh_token", refresh_token);
            } else {
              console.log("Invalid refresh token.");
              window.location.href = "/login";
            }
          }
        } else {
          window.location.href = "/login";
        }

        let {res, data} = await getUser(accessToken);
        console.log(res, data);
        if (res.status === 401) {
          window.location.href = "/login";
        }

      })();
    </script> 
    Ваш профиль
    <div id="user-data"></div>

    <form action="">
      <label for="email">Электронная почта: </label>
      <input type="text" placeholder="name@mail.ru" disabled> <br>

      <label for="username">Имя пользователя: </label>
      <input type="text" placeholder="username"> <br>

      <label for="gender">Пол: </label>
      <select name="gender" id="gender">
        <option value="male">Мужской</option>
        <option value="female">Женский</option>
        <option value="other">Другой</option>
      </select> <br>

      <label for="height">Высота: </label>
      <input type="text" placeholder="высота в см"> <br>

      <label for="weight">Вес: </label>
      <input type="text" placeholder="масса в кг"> <br>

      <label for="activity">Активность: </label>
      <select name="activity" id="activity">
        <option value="lightly-active">Слегка активен</option>
        <option value="moderately-active">Умеренно активный</option>
        <option value="very-active">Очень активный</option>
      </select> <br>
    </form>

    <button>Сохранить</button>

    <button id="logout">выход из системы</button>

    <script>
      let user = new Store("user");
      document.getElementById("user-data").innerHTML = JSON.stringify(user.state, null, 2);

      document.getElementById("logout").addEventListener("click", () => {
        localStorage.removeItem("access_token");
        localStorage.removeItem("refresh_token");
        window.location.href = "/login";
      });
    </script>
  </body>
</html>
