<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile | Fitness Tracker</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', path='/js/lib.js') }}"></script>
    <script src="{{ url_for('static', path='/js/store.js') }}"></script>
  </head>
  <body>
    <script>
      (async () => {
        let accessToken = localStorage.getItem("access_token");
        let refreshToken = localStorage.getItem("refresh_token");
        if (accessToken && refreshToken) {
          let isValid = await verifyJwtToken(accessToken);
          console.log(`Access token is: ${isValid ? "valid" : "invalid"}`);

          if (!isValid) {
            let { access_token, refresh_token } = await refreshJwtToken(
              refreshToken
            );

            if (access_token && refresh_token) {
              localStorage.setItem("access_token", access_token);
              localStorage.setItem("refresh_token", refresh_token);
            } else {
              console.log("Invalid refresh token.");
              window.location.href = "/login";
            }
          }
        } else {
          window.location.href = "/login";
        }

        let {res, data} = await getUser(accessToken);
        console.log(res, data);
        if (res.status === 401) {
          window.location.href = "/login";
        }

      })();
    </script> 
    Your profile
    <div id="user-data"></div>

    <form action="">
      <label for="email">Email</label>
      <input type="text" placeholder="name@mail.ru">

      <label for="username">Username</label>
      <input type="text" placeholder="username">

      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>

      <label for="height">Height</label>
      <input type="text" placeholder="height in cm">

      <label for="weight">Weight</label>
      <input type="text" placeholder="weight in kg">

      <label for="activity">Activeness</label>
      <select name="activity" id="activity">
        <option value="lightly-active">Lightly active</option>
        <option value="moderately-active">Moderately active</option>
        <option value="very-active">Very active</option>
    </form>

    <button>Save</button>

    <script>
      let user = new Store("user");
      document.getElementById("user-data").innerHTML = JSON.stringify(user.state, null, 2);
    </script>
  </body>
</html>
